body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #ffcccc;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li button {
    background-color: #ff66b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

button{
    width: 30vh;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff66b3;
}

p {
    color: #333;
}

/* Ajout de styles pour le tableau responsive */
.tableau-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ff66b3;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ffcccc;
    color: #ff66b3;
}
