body{height: 100vw;}
main{margin: auto;display: flex;align-items:center;justify-content:center;    }
.un,.deux,.trois{
    font-size: larger;
    display: flex;align-items: center;justify-content: center;    
    width:200px;
    height:200px;
    box-shadow: 10px 10px 10px ;
}
.un{
     position:relative;
    /* left:60px;top:60px; */
    background-color:black;
}

.deux{
    position:absolute;
    right:40%;bottom:40%;
    background-color:red;
}

.trois{
    position:absolute;
    left:40%;top:40%;
    background-color:green;
}
